:root
{
	--square-size: 2em;
	--board-border-size: .5em;
	--board-margin-size: 1em;
	--board-size: calc(var(--square-size) * 8 + var(--board-border-size)
		* 2 + var(--board-margin-size) * 2);
}

/* Hide scrollbar */

html
{
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar
{
	display: none; /* Safari and Chrome */
}

body
{
	margin: 0;
	background-color: #777;
	height: 100vh;
}

.chess-board-map
{
	padding: calc(50vh - var(--board-size) / 2) calc(50vw - var(--board-size) / 2);
	display: inline-block;

}

.chess-board-map .row
{
	display: flex;
}

.map
{
	display: inline-block; /* fixes padding in .chess-board-map */
}

.board
{
	user-select: none;
	margin: var(--board-margin-size);
	border: var(--board-border-size) solid #222;
}

.board.white-to-move
{
	border-color: #ddd;
}

.empty.board
{
	width: calc(var(--square-size) * 8);
	height: calc(var(--square-size) * 8);
	border-color: transparent;
}

.board-row
{
	display: flex;
}

.board-cell
{
	position: relative;

	width: var(--square-size);
	height: var(--square-size);

	text-align: center;
}

.board .piece
{
	width: 100%;
	height: 100%;
}

.board .piece.selectable
{
	cursor: pointer;
}

.board .piece img
{
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	pointer-events: none;
}

.board .square img
{
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	pointer-events: none;
}

.board .legal-move::after
{
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 255, 0, 0.2);
}